/* You can add global styles to this file, and also import other style files */
body {
  background-color: lightpink;
  height: 2000px;
  margin: 0;
}

.menu {
  position: absolute;
  left: 100px;
  top: 15px;
}

li {
  list-style: none;
  float: left;
  color: white;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 200;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}