<!--The content below is only a placeholder and can be replaced.-->
<div [class.active]="activeHeader" (window:scroll)="navBg()" class="container">
  <div class="netflix-logo">
    <a routerLink="/"><img alt="netflix" src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg"></a>
  </div>
  <div class="menu">
    <ul>
      <li><a routerLink="/home">홈</a></li>
      <li><a routerLink="/movies">영화</a></li>
      <li><a routerLink="/bookmark">내가 찜한 콘텐츠</a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
